<div class="container">
	<div class="row mt-5 align-items-center">
	    <div class="col-sm-6">
	      <h2>Seznam vseh knjig</h2>
	    </div>
	    <div class="col-sm-6">
	    	<input type="text" placeholder="Iskanje.." ng-model="searchText">
	    </div>
  	</div>

  <row>
	<table class="table mt-4">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">Naslov knjige</th>
	      <th scope="col">Kratek opis</th>
	      <th scope="col">Avtor</th>
	      <th scope="col">Datoteka</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="book in books | filter:searchText">
	      <td ng-bind="book.title"></td>
	      <td ng-bind="book.description"></td>
	      <td ng-bind="book.author ? book.author.name + ' ' + book.author.surname : 'Neznan'"></td>
	      <td><a ng-show="book.file_id" ng-href="{{'https://frontend-test.si.arctur.net/mma/' + book.file_id}}"><button type="button" class="btn btn-info">Prenos</button></a></td>
	    </tr>
	  </tbody>
	</table>
  </row>
</div>